<!DOCTYPE html>
<html>
<head>
    <title>묵호 마이너 갤러리</title>
</head>
<body>
    <h1>묵호 마이너 갤러리</h1>
    <h4><%= id %>(<%= nickname %>)</h4>
    <button onclick="location.href='/logout'">로그아웃</button>
</body>
</html>