<!-- views/login.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>묵호 마이너 갤러리</title>
</head>
<body>
    <h1>로그인 페이지</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="아이디"><br>
        <input type="password" name="password" placeholder="비밀번호"><br>
        <input type="submit" value="로그인">
    </form>
</body>
</html>