<!DOCTYPE html>
<html>
  <head>
    <title>묵호 마이너 갤러리 - 회원가입</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .container {
        text-align: center;
      }
      .form-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .form-group {
        width: 650px;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      a:hover {
        text-decoration: none;
        color: inherit;
      }
    </style>
  </head>
  <body>
    <form class="form-container form-group" action="/signup" method="post">
      <a href="/main"
        ><h2 class="h2 mb-3 fw-normal" style="text-align: center">
          묵호 마이너 갤러리
        </h2></a
      >
      <h3 class="h3 mb-3 fw-normal" style="text-align: center">회원가입</h3>
      <input
        type="text"
        name="id"
        class="form-control"
        id="id"
        placeholder="아이디"
        required
        minlength="2"
        maxlength="20"
      />
      <p id="idCheckMsg" style="color: crimson; margin: 0"></p>
      <input
        type="password"
        name="password"
        class="form-control"
        id="password"
        placeholder="비밀번호"
        required
        minlength="2"
        maxlength="20"
      />
      <p id="passwordCheckMsg" style="color: crimson; margin: 0"></p>
      <input
        type="password"
        name="passwordConfirm"
        class="form-control"
        id="passwordConfirm"
        placeholder="비밀번호 확인"
        required
        minlength="1"
        maxlength="20"
      />
      <p id="passwordMatchMsg" style="color: crimson; margin: 0"></p>
      <input
        type="text"
        name="nickname"
        class="form-control"
        id="nickname"
        placeholder="닉네임"
        required
        minlength="2"
        maxlength="16"
      />
      <p id="nicknameCheckMsg" style="color: crimson; margin: 0"></p>
      <input
        type="submit"
        class="btn btn-success"
        id="signupButton"
        value="가입하기"
        disabled
      />

      <section class="messages" style="color: crimson; margin: 0">
        <%= message %>
      </section>
    </form>

    <script>
      const idInput = document.getElementById("id");
      const passwordInput = document.getElementById("password");
      const passwordConfirmInput = document.getElementById("passwordConfirm");
      const nicknameInput = document.getElementById("nickname");
      const passwordMatchMsg = document.getElementById("passwordMatchMsg");
      const signupButton = document.getElementById("signupButton");

      const idRegex = /^[a-zA-Z0-9-_]{4,20}$/;
      const passwordRegex = /^[a-zA-Z0-9!@#$%^&*()\-_]{4,20}$/;
      const nicknameRegex = /^[a-zA-Z0-9가-힣-_ ]{2,16}$/;

      function idCheck() {
        const id = idInput.value;
        if (!idRegex.test(id)) {
          idCheckMsg.textContent =
            "아이디는 4~20자의 영문 대소문자, 숫자, 특수문자(_),(-)만 사용 가능합니다.";
          return false;
        } else {
          idCheckMsg.textContent = "";
          return true;
        }
      }

      function passwordCheck() {
        const password = passwordInput.value;
        if (!passwordRegex.test(password)) {
          passwordCheckMsg.textContent =
            "비밀번호는 4~20자의 영문 대소문자, 숫자, 특수문자(!@#$%^&*()_-)만 사용 가능합니다.";
          return false;
        } else {
          passwordCheckMsg.textContent = "";
          return true;
        }
      }

      function nicknameCheck() {
        const nickname = nicknameInput.value;

        if (nickname.match(/^[ ]+$/)) {
          nicknameCheckMsg.textContent =
            "닉네임은 1자 이상의 영문 대소문자, 숫자, 한글, 특수문자(_),(-)가 포함되어야 합니다.";
          return false;
        }

        if (!nicknameRegex.test(nickname)) {
          nicknameCheckMsg.textContent =
            "닉네임은 2~16자의 영문 대소문자, 숫자, 한글, 특수문자(_),(-),( )만 사용 가능합니다.";
          return false;
        }

        nicknameCheckMsg.textContent = "";
        return true;
      }

      function checkButtonAble() {
        if (checkPasswordMatch()) {
          if (checkInfoInput()) {
            if (idCheck() && passwordCheck() && nicknameCheck()) {
              signupButton.disabled = false;
              return true;
            }
          }
        }
        signupButton.disabled = true;
        return false;
      }

      function checkInfoInput() {
        const id = idInput.value;
        const nickname = nicknameInput.value;
        if (id !== "" && nickname !== "") return true;
        else return false;
      }

      function checkPasswordMatch() {
        const password = passwordInput.value;
        const passwordConfirm = passwordConfirmInput.value;
        if (!(password === "" && passwordConfirm === "")) {
          if (password === passwordConfirm) {
            passwordMatchMsg.textContent = "";
            return true;
          } else {
            passwordMatchMsg.textContent = "비밀번호가 일치하지 않습니다.";
            return false;
          }
        }
      }

      idInput.addEventListener("keyup", idCheck);
      passwordInput.addEventListener("keyup", passwordCheck);
      nicknameInput.addEventListener("keyup", nicknameCheck);

      idInput.addEventListener("keyup", checkButtonAble);
      passwordInput.addEventListener("keyup", checkButtonAble);
      passwordConfirmInput.addEventListener("keyup", checkButtonAble);
      nicknameInput.addEventListener("keyup", checkButtonAble);
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
