<!DOCTYPE html>
<html>
<head>
    <title>묵호 마이너 갤러리 - 회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/signup" method="post">
        <input type="text" name="id" id="id" placeholder="아이디" required minlength="1" maxlength="20"><br>
        <input type="password" name="password" id="password" placeholder="비밀번호" required minlength="1" maxlength="20"><br>
        <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="비밀번호 확인" required minlength="1" maxlength="20"><br>
        <input type="text" name="nickname" id="nickname" placeholder="닉네임" required minlength="1" maxlength="16"><br>
        <input type="submit" id="signupButton" value="가입하기" disabled>
        <span id="passwordMatchMsg" style="color:blue;"></span>
        <section class="messages" style="color:crimson;"> <%= message %> </section>
    </form>

    <script>
        const idInput = document.getElementById("id");
        const passwordInput = document.getElementById("password");
        const passwordConfirmInput = document.getElementById("passwordConfirm");
        const nicknameInput = document.getElementById("nickname");
        const passwordMatchMsg = document.getElementById("passwordMatchMsg");
        const signupButton = document.getElementById("signupButton");

        function checkButtonAble() {
            if (checkPasswordMatch()) {
                if (checkInfoInput()) signupButton.disabled = false;
                else signupButton.disabled = true;
            }
            else signupButton.disabled = true;
        }

        function checkInfoInput() {
            const id = idInput.value;
            const nickname = nicknameInput.value;

            if (id !== "" && nickname !== "") return true;
            else return false;
        }
        
        function checkPasswordMatch() {
            const password = passwordInput.value;
            const passwordConfirm = passwordConfirmInput.value;
            if (!(password === "" && passwordConfirm === "")) {
                if (password === passwordConfirm) {
                    passwordMatchMsg.textContent = "비밀번호가 일치합니다.";
                    return true;
                } else {
                    passwordMatchMsg.textContent = "비밀번호가 일치하지 않습니다.";
                    return false;
                }
            }
        }

        idInput.addEventListener("keyup", checkButtonAble);
        passwordInput.addEventListener("keyup", checkButtonAble);
        passwordConfirmInput.addEventListener("keyup", checkButtonAble);
        nicknameInput.addEventListener("keyup", checkButtonAble);
    </script>
</body>
</html>